.dashboard {
	background-color: $lightgrey;
	padding-bottom: 1000px;
	&__container {
		display: flex;
		flex-direction: column;
		width: 1200px;
		margin: 0 auto;
	}
	&__main {
		display: flex;
		flex-direction: row;
    justify-content: space-between;
	}
	&__left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
