.footer {
  display: flex;
  flex-direction: column;
  @include desktop {
    padding-bottom: 30px;
    margin-top: 10px;
    }
	&__made-with {
    margin-top: 0px;
		display: flex;
		justify-content: center;
	}
	&__data-source {
    padding-bottom: 10px;
	}
}
