.footer {
	margin-top: 10px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	&__made-with {
    margin-top: 0px;
		display: flex;
		justify-content: center;
	}
	&__data-source {
    padding-bottom: 10px;
	}
}
