.footer {
  margin-top: 30px;
  margin-bottom: 30px;
  // &__data-source {
  // }
}
.bold {
	font-weight: 600;
}
.bolder {
	font-weight: 900;
}
.black {
	color: black;
}
.underline {
	text-decoration: underline;
}