.intro {
	display: flex;
	justify-content: center;
	&__container {
		margin-top: 7px;
		display: flex;
		flex-direction: column;
		@include desktop {
			width: 490px;
			margin-top: 0px;
		}
	}
	&__dropdown {
		background-color: $white;
		width: 235px;
		border-radius: 2px;
		height: 24px;
		@include desktop {
			margin-left: 15px;
      width: 250px;
		}
		&-container {
			display: flex;
			flex-direction: row;
      justify-content: space-between;
			@include desktop {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				margin-bottom: 10px;
			}
		}
		&-title {
			margin-bottom: 0px;
			font-weight: 600;
			font-size: 14px;
			@include desktop {
				margin-bottom: 0px;
				padding-top: 4px;
			}
		}
	}
	&__text {
		width: 360px;
		margin-top: 7px;
		@include desktop {
			width: 490px;
			margin: 0;
			margin-bottom: 14px;
			font-size: 14px;
			font-weight: 400;
		}
	}
	&__instructions {
		&-paragraph {
			width: 360px;
			@include desktop {
				width: 490px;
				margin: 0;
				font-size: 12px;
				font-weight: 300;
				font-style: italic;
			}
		}
	}
}
.bold {
	font-weight: 500;
}
.ui.fluid.dropdown {
	border: 1px solid rgba(34, 36, 38, 0.15);
	border-radius: 2px;
	height: 24px;
}
.divider.text {
	padding-top: 2px;
}
.ui.dropdown .menu {
	z-index: 999;
	width: 229px;
	border: 1px solid rgba(34, 36, 38, 0.15);
}
.ui.dropdown > .dropdown.icon {
	margin-right: 7px;
	margin-top: 5px;
}
.ui.dropdown > .text {
	margin-left: 5px;
}
