.header {
  &__wrapper {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  &__title {
    display: flex;
    justify-content: center;
    font-weight: 600;
  }
}



