a {
	display: inline;
	text-decoration: underline;
}
.chart {
	width: 360px;
	margin-top: 7px;
	@include desktop {
		width: 490px;
		overflow: hidden;
		margin-top: 20px;
	}
}
svg.highcharts-root {
	height: 310px;
	@include desktop {
		height: 410px;
	}
}
.bold {
	text-decoration: none;
}
.caption {
	margin-top: 22px;
	font-size: 10px;
	@include desktop {
		margin-top: 25px;
		font-size: 12px;
	}
}
.highcharts-figure,
.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid $white-3;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table th {
	font-weight: 600;
	padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
	background: $white-1;
}
.highcharts-data-table tr:hover {
	background: $white-2;
}
.highcharts-caption {
	font-family: $primary-font;
	line-height: 1.5;
	color: $gray-2;
	font-size: 1.2em;
	padding-left: 15px;
}
