a {
  display: inline;
  text-decoration: underline;
}
.chart {
	width: 490px;
	overflow: hidden;
  margin-top: 30px;
}
.bold {
  text-decoration: none;
}
.highcharts-figure, 
.highcharts-data-table table {
	font-family: Verdana, sans-serif;
	border-collapse: collapse;
	border: 1px solid $white-3;
	margin: 10px auto;
	text-align: center;
	width: 100%;
	max-width: 500px;
}
.highcharts-data-table th {
	font-weight: 600;
	padding: 0.5em;
}
.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
	background: $white-1;
}
.highcharts-data-table tr:hover {
	background: $white-2;
}
.highcharts-caption {
    font-family: $primary-font;
    line-height: 1.5;
    color: $gray-2;
    font-size: 1.2em;
    padding-left: 15px;
}


